<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FindOrder</display-name>
    <servlet-name>FindOrder</servlet-name>
    <servlet-class>controller.FindOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindOrder</servlet-name>
    <url-pattern>/FindOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOrder</display-name>
    <servlet-name>DeleteOrder</servlet-name>
    <servlet-class>controller.DeleteOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrder</servlet-name>
    <url-pattern>/DeleteOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadOrder</display-name>
    <servlet-name>LoadOrder</servlet-name>
    <servlet-class>controller.LoadOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadOrder</servlet-name>
    <url-pattern>/LoadOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditOrder</display-name>
    <servlet-name>EditOrder</servlet-name>
    <servlet-class>controller.EditOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditOrder</servlet-name>
    <url-pattern>/EditOrder</url-pattern>
  </servlet-mapping>
</web-app>